<!doctype html>
{% load static %}
<html lang="en">
  <body>
  <div class="content">
    <div class="container">
      <h1>Login page</h1>
        <form  method="post">
            {% csrf_token %}
          <div class="form-group first">
            <label for="username">Username</label>
              {{ form.username }}
          </div><br>
          
          <div class="form-group last mb-4">
            <label for="username">Password</label>
            {{ form.password }}
          </div><br>

          <div class="d-flex mb-5 align-items-center">
            <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
              <input type="checkbox" checked="checked"/>
              <div class="control__indicator"></div>
            </label><br>
            <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
          </div><br>

          <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
        </form>
      </div>
    </div>
  </body>
</html>