{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 contents">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="form-block">
              <div class="mb-4">
                <h2>Log In</h2>
                <hr />
                <span class="mb-0 text-muted">
                  {% if msg %}
                      {{ msg | safe }}
                  {% endif %}
                </span>
                  <form  method="post">
                      {% csrf_token %}
                    <div class="form-group first">
                      <label for="username">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group last mb-4">
                      <label for="username">Password</label>
                      {{ form.password }}
                    </div>
  
                    <div class="d-flex mb-5 align-items-center">
                      <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                        <input type="checkbox" checked="checked"/>
                        <div class="control__indicator"></div>
                      </label>
                      <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                    </div>
  
                    <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
                  </form>
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock content %}