<div style="background-color: rgb(65, 65, 146); padding: 20px;">
   <div style="max-width: 400px; margin: 0 auto; background-color:whitesmoke; padding: 20px;">
      <h1 style="text-align: center; font-family: 'Comic Sans MS', cursive; color: navy;">Register</h1>

      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}

         <div style="text-align: center;">
            <button type="submit">Register</button>
         </div>
      </form>

      <p style="text-align: center; font-family: 'Comic Sans MS', cursive; color: navy;">Already have an account? <a
            href="{% url 'login' %}">Login</a></p>
   </div>
</div>