<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Django MySql User Authentification - Login and register{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdeliver.net/npm/bootstrap@5.0.2/dist/css.bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid">
        <header>
            <h1>
                Django MySql User Authentification - Login, register and Logout
            </h1>
            <hr>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
